:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --color-iris: #4d5ae5;
  --navi-blue: #2e2f42;
  --slate: #434455;
  --solid: #ffffff;
  --ocean:#404bbf;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
   --dairy: #fcfcfc;
}
/* ---------- Body ------ */
body {
  font-family:"Roboto", sans-serif;
  color:#434455;
  background-color:#ffffff;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.list {
  list-style: none;
}


.link{
  text-decoration: none;
}
.header{
  border-bottom: 1px solid #e7e9fc;
}

.container{
margin: auto;
padding: 0 15px;
width: 1158px;
display: flex;
align-items: center;
}

/*======Heaadersection======*/

.main-nav{
  display: flex; 
  align-items: center;
}
.list{
  display: flex; 
  gap: 40px ;
}
.logo{
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  margin-right: 76px
}
.logo-studio-header {
    color: #2e2f42;
}
    .logo-studio-footer {
      color: #F4F4FD;    
  }

.logo{
  display: flex; 
  align-items: center; 
}



.address{ color: #434455;

}
.link-text:hover,
.link-text:focus,
.address:hover,
.address:focus {
  color:#404BBF;
  
  }


.link {
  text-decoration: none;
}

.link-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  padding: 24px 0 24px;


}
.link-text:not(last-child) {
  margin-right: 40px;
}

.list {
  list-style: none;
}
.contacts {
  font-style: normal;
}

.contacts{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
  
}
.contacts-list{
  display: flex;
  gap: 40px;
}


 /*======Zagolovok1======*/

.section-hero {
  background-color: #2e2f42;
  padding: 188px 0 188px
  
}

.section-hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  max-width: 496px; 
  
}


.section-hero-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color:  #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px ;
  padding: 16px 32px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block; 
  cursor: pointer; 
}

.section-hero-button:hover,
.section-hero-button:focus {
  background-color: #404BBF;
}


/*======Section2======*/


.title{
  padding: 120px 0 120px;
  
}
.list-strategy{
  display: flex;
}
.feature-list{
  margin-right: 24px; 
  width: calc((100% - 3 * 24px) / 4);

}
.feature-list:nth-child(4n) {
  margin-right: 0;
}
.feature-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42;
  margin-bottom: 8px;
}

.feature-list-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*======Section3======*/
.section{
  padding: 120px 0 120px ;
}
.item-doing{
  gap: 24px; 
  flex-basis: calc((100% - 48px) / 3);
}
.item-doing:not(last-child){
  margin-right: 24px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px; 
}

/*======Section4======*/
.team-section {
  background-color:  #F4F4FD;
  padding: 120px 0 120px;
}
.img-team-list {
  background-color: #FFFFFF;
}
.img{
  display: block;
}

.img-team-list{
  gap: 24px; 
  flex-basis: calc((100% - 3 * 24px) / 4)

}

.tim-div{
  padding: 32px 16px 32px;
  border-radius: 0px 0px 4px 4px; 
}
.team-name{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px ;
}

.team-profession {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
/*======footer======*/
.footer {
  background-color: #2E2F42;
  padding: 100px 0 100px;
}

.footer-desc {
  font-family: "Roboto",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
}
.logo-link{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #4D5AE5;
display: inline-block; 
margin-bottom: 16px; 
}
.logo-studio-footer{
font-family: 'Raleway'sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #F4F4FD;
}







/*======portfolio======*/

.filter-buttons {
  background-color: #F4F4FD;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.filter-buttons:hover,
.filter-buttons:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:  #2e2f42;
}

.project-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:  #434455 ;
}
































